<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
    <title>CESTA - Codeaholic</title>
    <link rel="icon" href="images/icon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
   <div class="black">
  <a href="https://drive.google.com/open?id=1aOZNyWjcjaPVIVlmR2bZZiv6oTIZzhLW" target="_blank">  <video class="video1"   muted autoplay loop>
      <source src="videos/code3.mp4" type="video/mp4">
    </video></a>
  </div>
