<%-include("partials/header")%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="bgnd">
  <form class="form-signin" action="/" method="post">
    <img class="mb-4" src="images/ces.png" width="70%">
    <p class="err">Err...<br>There's some error from our side... <br>Please try again later.</p>
    <a class="btn btn-lg btn-dark btn-block" href="images/cesta.pdf" target="_blank">About Codeaholic</a>
    </form>

</div>
<%-include("partials/footer")%>
