<%-include("partials/header")%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="bgnd">
  <form class="form-signin" action="/" method="post">
    <img class="mb-4" src="images/ces.png" width="70%">
    <p class="suc">Congratulations! <%=nameP%> we've got your name. <br>Grab your device and start your preparation.<br>Competition will be held <a target="_blank" href="https://www.hackerrank.com/codeaholic-1">here</a>. You will recieve the link in your e-mail a day prior to the competiton</p>
    <a class="btn btn-lg btn-dark btn-block" href="images/cesta.pdf" target="_blank">About Codeaholic</a>
    </form>

</div>
<%-include("partials/footer")%>
